@each $field in mapTypeControlPos, zoomControlPos, rotateControlPos, panControlPos, scaleControlPos, streetViewControlPos {
  .google-maps-bundle {
    ##{$field}_1_4, ##{$field}_2_7, ##{$field}_3_10 {
      display: none;
    }

    #ctrl_#{$field} td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 80px;
    }
  }
}